{% extends "ToDo/layout.html" %}

{% block content%}


<div style="margin-top: 50px;" class="ui container ">

    <h1 class="ui center aligned header ">Личный список дел!</h1>
    {%if all_todo_in_work > 10%}
    <meta http-equiv="refresh" content="0.1">

    <h4>Все задачи в работе {{all_todo_in_work}}  </h4>
    <h4 >Все завершенные задачи {{all_end_todo}} </h4>
    {%else%}
    <h4 >Все задачи в работе {{all_todo_in_work}} </h4>
    <h4 >Все завершенные задачи {{all_end_todo}} </h4>
     {%endif%} 
    <a class="ui negative basic button "href="{% url 'clear_data_tasks'%}">Очистить историю задач</a>
        <div style="margin-top: 10px;"class="ui">
            <div>
                <form class="ui form " action="{% url 'add' %}" method="post">
                    {% csrf_token %}
                    <div class="field ">
                        <label>Новая задача</label>
                        <input type="text" name="title" placeholder="Введите название задачи"><br>
                    </div>
                    <button class="ui blue button" type="submit"action="{% url 'add' %}">Добавить 1 задачу!</button>
                </form>
            </div>
            <div style="margin-top: 10px;">
                <form class="ui form " action="{% url 'add_five' %}" method="post">
                    {% csrf_token %}
                    <div class="field ">
                        <label>Новые задачи</label>
                        <input type="text" name="1" placeholder="Введите название задачи"><br>
                        <input type="text" name="2" placeholder="Введите название задачи"><br>
                        <input type="text" name="3" placeholder="Введите название задачи"><br>
                        <input type="text" name="4" placeholder="Введите название задачи"><br>
                        <input type="text" name="5" placeholder="Введите название задачи"><br>
                    </div>
                    <button class="ui blue button" type="submit"action="{% url 'add_five' %}">Добавить 5 задач!</button>
                </form>

            </div>
        </div>
{%for todo in ToDo%}
<div name = todo class="ui segment"> 
    <p class="ui big header">Задание: {{todo.title}}</p>
    {% if todo.is_complete == False %}
    <span class="ui green label">В работе</span>
    <a class="ui primary basic button " href="{% url 'update' todo_id=todo.id%}">Остановить</a>
    {% else %}
    <span class="ui grey label ">Остановлен</span>
    <a class="ui blue button"href="{% url 'update' todo_id=todo.id%}">Начать</a>
    {% endif %}
    <a class="ui negative basic button "href="{% url 'delete' todo_id=todo.id%}">Удалить</a>
</div>
{% endfor %}
</div>

{% endblock content %}
